.myapp__cycling__container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 6rem;
    margin-right: 5rem;
}
.myapp__cycling__container__heading-h2 h2{
    font-size: 25px;
    line-height: 45px;
    font-weight: 700;
    font-family: var(--font-family);
    color: var(--color-text);
    /* flex-direction: row; */
   
}
.myapp__cycling__container__heading-p p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
  
}
.myapp__cycling__container__heading-p4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
    max-width: 400px;
    justify-content: start;
    
    
  
}
.myapp__cycling-painted-img img {
    height: 30;
    width: 20;
    flex: 1;
    display: flex;
    justify-content: right;
    margin-left: 40rem;
    margin-bottom: 10%;
    margin-top:-65%;
    border-radius: 20px;
    
   
    

}
.myapp__cycling__container__heading-h2-parking h2{
    font-size: 25px;
    line-height: 45px;
    font-weight: 700;
    font-family: var(--font-family);
    color: var(--color-text);
    /* flex-direction: row; */
   
}
.myapp__cycling__container__heading-p-parking {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
    max-width: 500px;
    justify-content: start;
    
    
  
}
.myapp__cycling-parking-img img {
    height: 30;
    width: 20;
    flex: 1;
    display: flex;
    justify-content: right;
    margin-left: 40rem;
    margin-bottom: 10%;
    margin-top:-35%;
    max-width: 600px;
    border-radius: 20px;
}